[apikey]
key = xkOKCpwP8ZpjZ1zRQX9z1BMmv 
secret = lnSGywfLGd5FQqWmnvUyxYHT8DRt9irfqtSmAnYU901aQwml2G

[token]
token =  489482658-UKTjtkuivwDU4kvxPMmjkC6Sei6UhunFwdYUI7ft
secret =  fds2Cez9VDY6yFYNnszJVfsDVVzckeaTTW3AWUMTiCHum

[app]
rule =  @hectorMcSpector
account_screen_name = Lewis John McGibbney
account_user_id = IDofAccountOwnerOfApp
